.product-card {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  display: flex; 
  flex-direction: column; 
  margin-left: 20px;
}
  
.product-card img {
  max-width: 100%;
  height: auto; 
  object-fit: contain;
  margin-bottom: 10px;
}
  
.favButton {
  position: absolute;
  right: -14px;
  top: 18px;
  background-color: white;
  width: 25px!important;
  height: 25px;
  border-radius: 50%;
  font-size: 16px;
  color:#1baa97;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 25px;
}
  
  
  
.product-card .product-title {
  font-size: 16px; 
  margin-bottom: 5px; 
}
  
.product-card .product-price {
  font-size: 14px;
}
  
.product-card:hover {
  box-shadow: 0px 2px 8px #1baa97; 
}
  
.product-price {
  color: #1baa97;
}
  