.product-list {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to next row */
    justify-content: left; /* Center align cards horizontally */
    gap: 15px; /* Add gap between cards */
  }
  
.column1 {
  width: 20%;
  float: left;
  padding: 10px; /* Add padding to column1 */
  box-sizing: border-box; /* Include padding in width calculation */
}

.column2 {
  float: left;
  width: 80%; /* Adjust width of column2 */
  padding: 10px; /* Add padding to column2 */
  box-sizing: border-box; /* Include padding in width calculation */
}

.sort-section,
.product-list {
  margin-bottom: 10px; /* Add margin-bottom to sortSection and productList */
}

  